.main-categories-card {
  max-width: 150px !important;
}

.main-categories-cards-container {
  display: flex;
  justify-content: space-around;
}

.categorie-round {
  border-radius: 150px !important;
}
